# =========================
# DATASETS (CRÍTICO)
# =========================
data/
tmp/
dev/data/

# HDF5 files
*.h5

# =========================
# MODELS
# =========================
models/
*.pt
*.pth
*.ckpt

# =========================
# DEBUG / LOGS
# =========================
*.txt
*.log

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# ENVIRONMENTS
# =========================
.env
.venv/

# =========================
# OS / MISC
# =========================
.DS_Store